.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.Header {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.About {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
}

.Projects {
  background-color: #d0d0d0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
}

.Contact {
  background-color: #c0c0c0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
}

.Footer {
  background-color: #b0b0b0;
  padding: 10px;
  border: 1px solid #888;
  text-align: center; /* Center the links */
}

.Footer a {
  margin: 0 10px; /* Add some space between the links */
  color: #333; /* Change link color for better visibility */
  text-decoration: none; /* Remove underline */
}

.Footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}
